In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import sys, os
sys.path.insert(0, os.path.abspath('../scripts/'))
import footyviz

In [4]:
data = pd.read_csv('../datasets/positional_data/liverpool_2019.csv', index_col=('play', 'frame'))

In [5]:
data.head()

                                     Unnamed: 0 bgcolor        dx        dy  \
play                          frame
Liverpool [3] - 0 Bournemouth 0               0     NaN  0.000000  0.000000
                              1               1     NaN  0.185745  1.217580
                              2               2     NaN  0.178659  1.171133
                              3               3     NaN  0.171573  1.124685
                              4               4     NaN  0.164488  1.078238

                                    edgecolor  player  player_num team  \
play                          frame
Liverpool [3] - 0 Bournemouth 0           NaN       0         NaN  NaN
                              1           NaN       0         NaN  NaN
                              2           NaN       0         NaN  NaN
                              3           NaN       0         NaN  NaN
                              4           NaN       0         NaN  NaN

                                             x          y    z
play                          frame
Liverpool [3] - 0 Bournemouth 0      46.394558  11.134454  0.0
                              1      46.580302  12.352034  0.0
                              2      46.758961  13.523166  0.0
                              3      46.930535  14.647852  0.0
                              4      47.095022  15.726090  0.0

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 74936 entries, (Liverpool [3] - 0 Bournemouth, 0) to (Leicester 0 - [3] Liverpool, 124)
Data columns (total 11 columns):
Unnamed: 0    74936 non-null int64
bgcolor       71387 non-null object
dx            74936 non-null float64
dy            74936 non-null float64
edgecolor     71387 non-null object
player        74936 non-null int64
player_num    17719 non-null float64
team          71387 non-null object
x             74936 non-null float64
y             74936 non-null float64
z             74936 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 6.5+ MB

In [60]:
#list of goals included in the dataset
data.index.get_level_values('play').unique()

Index(['Liverpool [3] - 0 Bournemouth', 'Bayern 0 - [1] Liverpool',
       'Fulham 0 - [1] Liverpool', 'Southampton 1 - [2] Liverpool',
       'Liverpool [2] - 0 Porto', 'Porto 0 - [2] Liverpool',
       'Liverpool [4] - 0 Barcelona', 'Liverpool [1] - 0 Wolves',
       'Liverpool [3] - 0 Norwich', 'Liverpool [2] - 1 Chelsea',
       'Liverpool [2] - 1 Newcastle', 'Liverpool [2] - 0 Salzburg',
       'Genk 0 - [3] Liverpool', 'Liverpool [2] - 0 Man City',
       'Liverpool [1] - 0 Everton', 'Liverpool [2] - 0 Everton',
       'Bournemouth 0 - 3 Liverpool', 'Liverpool [1] - 0 Watford',
       'Leicester 0 - [3] Liverpool'],
      dtype='object', name='play')

In [61]:
play = 'Liverpool [3] - 0 Bournemouth'
df = data.loc[play]
df.tail()

,Unnamed: 0,bgcolor,dx,dy,edgecolor,player,player_num,team,x,y,z
frame,,,,,,,,,,,
150,2940,white,0.254492,0.134682,black,5518,NaN,defense,82.349414,39.628083,0.0
151,2941,white,0.000000,0.000000,black,5518,NaN,defense,82.349414,39.628083,0.0
152,2942,white,0.000000,0.000000,black,5518,NaN,defense,82.349414,39.628083,0.0
153,2943,white,0.000000,0.000000,black,5518,NaN,defense,82.349414,39.628083,0.0
154,2944,white,0.000000,0.000000,black,5518,NaN,defense,82.349414,39.628083,0.0

## Making videos of every goal

In [6]:
from moviepy import editor as mpy
from moviepy.video.io.bindings import mplfig_to_npimage

def draw_frame_x(df, t, fps, voronoi=False):
    fig,ax,dfFrame = footyviz.draw_frame(df, t=t, fps=fps)
    if voronoi:
        fig, ax, dfFrame = footyviz.add_voronoi_to_fig(fig, ax, dfFrame)
    image = mplfig_to_npimage(fig)
    plt.close()
    return image    

def make_animation(df, fps=20, voronoi=False):
    #calculated variables
    length=(df.index.max()+20)/fps
    clip = mpy.VideoClip(lambda x: draw_frame_x(df, t=x, fps=fps, voronoi=voronoi), duration=length-1).set_fps(fps)
    return clip

In [7]:
data.index.get_level_values('play').unique()

Index(['Liverpool [3] - 0 Bournemouth', 'Bayern 0 - [1] Liverpool',
       'Fulham 0 - [1] Liverpool', 'Southampton 1 - [2] Liverpool',
       'Liverpool [2] - 0 Porto', 'Porto 0 - [2] Liverpool',
       'Liverpool [4] - 0 Barcelona', 'Liverpool [1] - 0 Wolves',
       'Liverpool [3] - 0 Norwich', 'Liverpool [2] - 1 Chelsea',
       'Liverpool [2] - 1 Newcastle', 'Liverpool [2] - 0 Salzburg',
       'Genk 0 - [3] Liverpool', 'Liverpool [2] - 0 Man City',
       'Liverpool [1] - 0 Everton', 'Liverpool [2] - 0 Everton',
       'Bournemouth 0 - 3 Liverpool', 'Liverpool [1] - 0 Watford',
       'Leicester 0 - [3] Liverpool'],
      dtype='object', name='play')

In [8]:
play = data.index.get_level_values('play').unique()[0]
df1 = data.loc[play]

In [10]:
clip = make_animation(df1)
clip.ipython_display()
clip.write_videofile("../videos/Goal1.mp4")

Moviepy - Building video __temp__.mp4.
Moviepy - Writing video __temp__.mp4

Moviepy - Done !
Moviepy - video ready __temp__.mp4
Moviepy - Building video ../videos/Goal1.mp4.
Moviepy - Writing video ../videos/Goal1.mp4

Moviepy - Done !
Moviepy - video ready ../videos/Goal1.mp4